<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${userModel.title}">Title</title>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<br/>
<div>
    <table border="1">
        <thead>
        <tr>
            <td>用户名</td>
            <td>密码</td>
            <td>邮箱</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userModel.userList.size() eq 0}">
            <td colspan="3">暂无用户信息！</td>
        </tr>
        <tr th:each="user : ${userModel.userList}">
            <td><a th:href="@{'/users/'+${user.id}}" th:text="${user.name}"></a></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>