<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:object="${userModel.user}">
    <div class="row">
        <p><strong>用户名：</strong><span th:text="*{name}"></span></p>
    </div>
    <div class="row">
        <p><strong>密码：</strong><span th:text="*{password}"></span></p>
    </div>
    <div class="row">
        <p><strong>邮箱：</strong><span th:text="*{email}"></span></p>
    </div>
    <div class="row">
        <a class="btn btn-primary blog-btn-group" th:href="@{'/users/modify/'+${id}}">修改</a>
        <a class="btn btn-primary blog-btn-group" th:href="@{'/users/delete/'+${id}}">删除</a>
    </div>
</div>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>